.title{
    text-align: left;
    margin: 0;

    font-family: 'Space Grotesk', sans-serif;
    font-weight: 800;
    font-size: 2.5rem;

    max-width: 840px;
}

.hero-content{
    margin-top: 30vh;
    margin-bottom: 0;
    margin-left: 5%;
    margin-right: 30px;
    @media only screen and (max-width: 650px){
        margin-top: 25vh;
    }
}
#register-button{

    padding: 1rem 2.5rem;
    margin-top: 1.5rem;
    border-radius: 1rem;

    font-size: 1.5rem;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
    background-color: beige;
    user-select: none;
    cursor: pointer;

    box-shadow: 0px 5px #666;

    &:hover, &:focus{
        background-color: rgb(255, 255, 255);
        outline: none;
        -webkit-tap-highlight-color: transparent;
    }
    &:active{
        background-color: beige;
        box-shadow: 0px 2px #666;
        transform: translateY(2px);
        outline: none;
        -webkit-tap-highlight-color: transparent;
    }
    a{
        text-decoration: none;
        color: black;
    }

}