@import './blob';
@import './title';
@import './nav';

body{
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;

    font-family: 'Work Sans', sans-serif;

    .container{

        display: flex;
        flex-direction: column;

        width: 100%;
        height: 100vh;

        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;
        overflow-y: scroll;

        section{
            flex: none;
            display: flex;
            width: 100%;

            scroll-snap-align: start;
        }
    }  
}
.hero{
    position: relative;
    background-color: yellow;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}
.events-tech{
    background-color: antiquewhite;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.events-nontech{
    background-color: aquamarine;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.contact{
    background-color: bisque;
    align-items: center;
    justify-content: center;
    height: 60vh;
}
