.tk-blob {
  -webkit-animation: blob-turn var(--time, 30s) linear infinite;
          animation: blob-turn var(--time, 30s) linear infinite;
  fill: var(--fill, #7600f8);
  position: relative;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.tk-blob svg {
  -webkit-animation: blob-skew calc(var(--time, 30s) * 0.5) linear 0s infinite;
          animation: blob-skew calc(var(--time, 30s) * 0.5) linear 0s infinite;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.tk-blob svg path {
  -webkit-animation: blob-scale calc(var(--time, 30s) * 0.5) ease-in-out 0s infinite;
          animation: blob-scale calc(var(--time, 30s) * 0.5) ease-in-out 0s infinite;
  -webkit-transform-origin: center;
          transform-origin: center;
}

@-webkit-keyframes blob-turn {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes blob-turn {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes blob-skew {
  0% {
    -webkit-transform: skewY(0deg);
            transform: skewY(0deg);
  }
  13% {
    -webkit-transform: skewY(calc((1.8deg) * var(--amount, 2)));
            transform: skewY(calc((1.8deg) * var(--amount, 2)));
  }
  18% {
    -webkit-transform: skewY(calc((2.2deg) * var(--amount, 2)));
            transform: skewY(calc((2.2deg) * var(--amount, 2)));
  }
  24% {
    -webkit-transform: skewY(calc((2.48deg) * var(--amount, 2)));
            transform: skewY(calc((2.48deg) * var(--amount, 2)));
  }
  25% {
    -webkit-transform: skewY(calc((2.5deg) * var(--amount, 2)));
            transform: skewY(calc((2.5deg) * var(--amount, 2)));
  }
  26% {
    -webkit-transform: skewY(calc((2.48deg) * var(--amount, 2)));
            transform: skewY(calc((2.48deg) * var(--amount, 2)));
  }
  32% {
    -webkit-transform: skewY(calc((2.2deg) * var(--amount, 2)));
            transform: skewY(calc((2.2deg) * var(--amount, 2)));
  }
  37% {
    -webkit-transform: skewY(calc((1.8deg) * var(--amount, 2)));
            transform: skewY(calc((1.8deg) * var(--amount, 2)));
  }
  50% {
    -webkit-transform: skewY(0deg);
            transform: skewY(0deg);
  }
  63% {
    -webkit-transform: skewY(calc((-1.8deg) * var(--amount, 2)));
            transform: skewY(calc((-1.8deg) * var(--amount, 2)));
  }
  68% {
    -webkit-transform: skewY(calc((-2.2deg) * var(--amount, 2)));
            transform: skewY(calc((-2.2deg) * var(--amount, 2)));
  }
  74% {
    -webkit-transform: skewY(calc((-2.48deg) * var(--amount, 2)));
            transform: skewY(calc((-2.48deg) * var(--amount, 2)));
  }
  75% {
    -webkit-transform: skewY(calc((-2.5deg) * var(--amount, 2)));
            transform: skewY(calc((-2.5deg) * var(--amount, 2)));
  }
  76% {
    -webkit-transform: skewY(calc((-2.48deg) * var(--amount, 2)));
            transform: skewY(calc((-2.48deg) * var(--amount, 2)));
  }
  82% {
    -webkit-transform: skewY(calc((-2.2deg) * var(--amount, 2)));
            transform: skewY(calc((-2.2deg) * var(--amount, 2)));
  }
  87% {
    -webkit-transform: skewY(calc((-1.8deg) * var(--amount, 2)));
            transform: skewY(calc((-1.8deg) * var(--amount, 2)));
  }
  100% {
    -webkit-transform: skewY(0deg);
            transform: skewY(0deg);
  }
}

@keyframes blob-skew {
  0% {
    -webkit-transform: skewY(0deg);
            transform: skewY(0deg);
  }
  13% {
    -webkit-transform: skewY(calc((1.8deg) * var(--amount, 2)));
            transform: skewY(calc((1.8deg) * var(--amount, 2)));
  }
  18% {
    -webkit-transform: skewY(calc((2.2deg) * var(--amount, 2)));
            transform: skewY(calc((2.2deg) * var(--amount, 2)));
  }
  24% {
    -webkit-transform: skewY(calc((2.48deg) * var(--amount, 2)));
            transform: skewY(calc((2.48deg) * var(--amount, 2)));
  }
  25% {
    -webkit-transform: skewY(calc((2.5deg) * var(--amount, 2)));
            transform: skewY(calc((2.5deg) * var(--amount, 2)));
  }
  26% {
    -webkit-transform: skewY(calc((2.48deg) * var(--amount, 2)));
            transform: skewY(calc((2.48deg) * var(--amount, 2)));
  }
  32% {
    -webkit-transform: skewY(calc((2.2deg) * var(--amount, 2)));
            transform: skewY(calc((2.2deg) * var(--amount, 2)));
  }
  37% {
    -webkit-transform: skewY(calc((1.8deg) * var(--amount, 2)));
            transform: skewY(calc((1.8deg) * var(--amount, 2)));
  }
  50% {
    -webkit-transform: skewY(0deg);
            transform: skewY(0deg);
  }
  63% {
    -webkit-transform: skewY(calc((-1.8deg) * var(--amount, 2)));
            transform: skewY(calc((-1.8deg) * var(--amount, 2)));
  }
  68% {
    -webkit-transform: skewY(calc((-2.2deg) * var(--amount, 2)));
            transform: skewY(calc((-2.2deg) * var(--amount, 2)));
  }
  74% {
    -webkit-transform: skewY(calc((-2.48deg) * var(--amount, 2)));
            transform: skewY(calc((-2.48deg) * var(--amount, 2)));
  }
  75% {
    -webkit-transform: skewY(calc((-2.5deg) * var(--amount, 2)));
            transform: skewY(calc((-2.5deg) * var(--amount, 2)));
  }
  76% {
    -webkit-transform: skewY(calc((-2.48deg) * var(--amount, 2)));
            transform: skewY(calc((-2.48deg) * var(--amount, 2)));
  }
  82% {
    -webkit-transform: skewY(calc((-2.2deg) * var(--amount, 2)));
            transform: skewY(calc((-2.2deg) * var(--amount, 2)));
  }
  87% {
    -webkit-transform: skewY(calc((-1.8deg) * var(--amount, 2)));
            transform: skewY(calc((-1.8deg) * var(--amount, 2)));
  }
  100% {
    -webkit-transform: skewY(0deg);
            transform: skewY(0deg);
  }
}

@-webkit-keyframes blob-scale {
  0% {
    -webkit-transform: scaleX(0.9) scaleY(1);
            transform: scaleX(0.9) scaleY(1);
  }
  25% {
    -webkit-transform: scaleX(0.9) scaleY(0.9);
            transform: scaleX(0.9) scaleY(0.9);
  }
  50% {
    -webkit-transform: scaleX(1) scaleY(0.9);
            transform: scaleX(1) scaleY(0.9);
  }
  75% {
    -webkit-transform: scaleX(0.9) scaleY(0.9);
            transform: scaleX(0.9) scaleY(0.9);
  }
  100% {
    -webkit-transform: scaleX(0.9) scaleY(1);
            transform: scaleX(0.9) scaleY(1);
  }
}

@keyframes blob-scale {
  0% {
    -webkit-transform: scaleX(0.9) scaleY(1);
            transform: scaleX(0.9) scaleY(1);
  }
  25% {
    -webkit-transform: scaleX(0.9) scaleY(0.9);
            transform: scaleX(0.9) scaleY(0.9);
  }
  50% {
    -webkit-transform: scaleX(1) scaleY(0.9);
            transform: scaleX(1) scaleY(0.9);
  }
  75% {
    -webkit-transform: scaleX(0.9) scaleY(0.9);
            transform: scaleX(0.9) scaleY(0.9);
  }
  100% {
    -webkit-transform: scaleX(0.9) scaleY(1);
            transform: scaleX(0.9) scaleY(1);
  }
}

.title {
  text-align: left;
  margin: 0;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 800;
  font-size: 2.5rem;
  max-width: 840px;
}

.hero-content {
  margin-top: 30vh;
  margin-bottom: 0;
  margin-left: 5%;
  margin-right: 30px;
}

@media only screen and (max-width: 650px) {
  .hero-content {
    margin-top: 20vh;
  }
}

#register-button {
  padding: 1rem 2.5rem;
  margin-top: 1.5rem;
  border-radius: 1rem;
  font-size: 1.5rem;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 500;
  background-color: beige;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  -webkit-box-shadow: 0px 10px #666;
          box-shadow: 0px 10px #666;
}

#register-button:hover, #register-button:focus {
  background-color: white;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

#register-button:active {
  background-color: beige;
  -webkit-box-shadow: 0px 3px #666;
          box-shadow: 0px 3px #666;
  -webkit-transform: translateY(7px);
          transform: translateY(7px);
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

#register-button a {
  text-decoration: none;
  color: black;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

@media only screen and (max-width: 650px) {
  .navbar {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.navbar .more-button {
  display: none;
}

@media only screen and (max-width: 650px) {
  .navbar .more-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0px 30px;
    font-size: 2rem;
    font-weight: bold;
  }
}

.navbar .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0 5%;
}

.navbar .logo img {
  width: 42px;
  height: 55px;
}

.navbar .logo p {
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.2rem;
}

@media only screen and (max-width: 650px) {
  .navbar .logo p {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.5ch;
  }
}

.navbar .logo p::after {
  content: ' 2022';
  font-size: .7rem;
}

@media only screen and (max-width: 650px) {
  .navbar .logo p::after {
    font-size: 1rem;
    font-weight: 200;
  }
}

.navbar .nav-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
  padding: 0 5%;
  font-family: 'Work Sans', sans-serif;
}

@media only screen and (max-width: 650px) {
  .navbar .nav-buttons {
    display: none;
  }
}

body {
  margin: 0;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Work Sans', sans-serif;
}

body .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

body .container section {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  scroll-snap-align: start;
}

.hero {
  position: relative;
  background-color: yellow;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.events-tech {
  background-color: antiquewhite;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

.events-nontech {
  background-color: aquamarine;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

.contact {
  background-color: bisque;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60vh;
}
/*# sourceMappingURL=styles.css.map */